/* Change Navbar Background */
#nav-bar { background: #222D32 !important; border-top:none !important;}
/* Remove Three Dots */
#pageActionButton { display: none !important; }
/* No 'i' icon */
#identity-icon { display: none !important; }
/* No lock icon */
#identity-box { display: none !important; }
/* Short URL https://raw.githubusercontent.com/TanzNukeTerror/Custom-Firefox/master/bindings.xml */
#urlbar { -moz-binding: url("bindings.xml#urlbar") !important; }
/* Center URL */
#urlbar .urlbar-input-box {
	text-align: center;
	margin-bottom: 0px;
}


/* Autohide Tabs */
#TabsToolbar {
	position: sticky !important;
	min-height: 33px !important;
	margin-top: -33px !important;
	border-top: 0px;
	padding-top: 0;
	-moz-box-ordinal-group: 2 !important;
	  transition: all 0.3s ease 0s !important;
}
#navigator-toolbox {
  position: relative;
  transition: all 0.3s ease 0s !important;
}

#navigator-toolbox:hover { margin-bottom: -33px !important;  transition: all 0.3s ease 0s !important;}
#navigator-toolbox:hover > #TabsToolbar { margin-top: 0px !important; transition: all 0.3s ease 0s !important;}

/* Active Tab Background */
.tab-background[selected="true"] { background: transparent !important; }
/* Hide new tab and close button */
.tabs-newtab-button,
.tab-close-button.tab-close-button { display: none !important; }

/* Tabs don't move when dragging. */
#TabsToolbar[movingtab] {
  padding-bottom: -0px !important;
}
#TabsToolbar[movingtab] > .tabbrowser-tabs {
  padding-bottom: -0px !important;
  margin-bottom: -0px !important;
}
#TabsToolbar[movingtab] + #nav-bar {
  margin-top: -0px !important;
  pointer-events: none;
}
