/* Change Navbar Background */
#nav-bar { background: #222D32 !important; border-top:none !important; }
/* Remove Three Dots */
#pageActionButton {
  display: none !important;
}
/* No 'i' icon */
#identity-icon {
    display: none !important;
}
/* No lock icon */
#identity-box {
    display: none !important;
}
/* Short URL https://raw.githubusercontent.com/TanzNukeTerror/Custom-Firefox/master/bindings.xml */
#urlbar {
	-moz-binding: url("bindings.xml#urlbar") !important;
}
/* Center URL */
#urlbar .urlbar-input-box {
    text-align: center;
	margin-bottom: 1px;
}
/* Autohide Tabs */
#TabsToolbar {
	position: relative;
	transition: all 0.3s ease 0s !important;
	min-height: 30px !important;
	-moz-box-ordinal-group: 2 !important; }
#TabsToolbar {
    /*overflow: hidden;*/
	margin-top: -28px !important;
	transition: all 0.3s ease 0s !important; }
#navigator-toolbox:hover {
	margin-bottom: -28px !important;
	transition-delay: 0s !important; }
#navigator-toolbox:hover > #TabsToolbar {
	margin-top: 0 !important;
	transition-delay: 0s !important; }

.tab-background[selected="true"] {
	background: #222D32 !important ;
}
